*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.counter-box {
    display: block;
    background: #f6f6f6;
    padding: 40px 20px 37px;
    text-align: center
}

.counter-box p {
    margin: 5px 0 0;
    padding: 0;
    color: #909090;
    font-size: 18px;
    font-weight: 500
}

.counter-box i {
    font-size: 60px;
    margin: 0 0 15px;
    color: #d2d2d2
}

.counter {
    display: block;
    font-size: 32px;
    font-weight: 700;
    color: #666;
    line-height: 28px
}

.counter-box.colored {
    background: #3acf87
}

.counter-box.colored p,
.counter-box.colored i,
.counter-box.colored .counter {
    color: #fff
}
.accordion-item {
    margin: 20px 0px;
    border: 2px solid #000;
    border: 2px solid #000 !important;
}
#counter-main-sec {
    margin: 50px 0px;
}
.height-s {
    height: 500px !important;
}
.featured-services .icon-box {
    padding: 20px;
    color: #5f687b;
    background: #f9f9fa;
    border-radius: 4px;
    border: 1px solid #f9f9fa;
    transition: 0.3s;
    height: 100%;

}
.featured-services .icon {
    margin: 0 0 15px 0;
}
.featured-services .icon i {
    color: #16df7e;
    font-size: 36px;
}
.featured-services .title {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 18px;
}
.featured-services .title a {
    color: #5f687b;
    transition: 0.3s;
}
.featured-services .description {
    line-height: 24px;
    font-size: 14px;
}
.title a {
    text-decoration: none;
}
.title a:hover{
	color: #16df7e;
}
#featured-services {
    margin-top: 50px;
}
.features .icon-box {
    display: flex;
    align-items: center;
    padding: 20px;
    transition: 0.3s;
    border: 1px solid #eef0ef;
}
.features .icon-box:hover{
	border: 1px solid #3acf87;
}
.features .icon-box i {
    font-size: 32px;
    padding-right: 10px;
    line-height: 1;
    color: #3acf87;
}
.features .icon-box h3 {
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 16px;
}
.features .icon-box h3 a {
    color: #37423b;
    text-decoration: none;
    transition: 0.3s;
}
#skills {
    margin: 50px 0px;
}
.section-title {
    text-align: center;
    padding-bottom: 30px;
}
.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #45505b;
}
.section-title h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}
.section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #3acf87;
    bottom: 0;
    left: calc(50% - 20px);
}
.section-title p {
    font-size: 18px;
}
.skills .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
}
.skills .progress .skill {
    padding: 10px 0;
    margin: 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #45505b;
}
.skills .progress .skill .val {
    float: right;
    font-style: normal;
}
.skills .progress-bar-wrap {
    background: #f2f3f5;
}
.skills .progress-bar {
    height: 10px;
    transition: .9s;
    background-color:#3acf87;
}
.resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #45505b;
}
.resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #3acf87;
    position: relative;
}
.resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #3acf87;
}
.resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color:#3acf87;
    margin-bottom: 10px;
}
.resume .resume-item ul {
    padding-left: 20px;
}
#contact {
    margin: 40px 0px;
}
.contact .info i {
    font-size: 20px;
    background: #3acf87;
    color: #fff;
    float: left;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}
.contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #151515;
}
.contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #484848;
}
.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}
.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}
.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}
.contact .php-email-form button[type="submit"] {
    background: #3acf87;
    padding: 10px 24px;
    color: #fff;
    border: none;
    transition: 0.4s;
}
#footer {
    font-size: 14px;
    background:#212529;
}
#footer .footer-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
}
#footer .copyright {
    float: left;
}
#footer .credits {
    float: right;
    font-size: 13px;
}
.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

 

